In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[["charges"]]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [10]:
x_train

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0         0           0
196    39  32.800         0         0           0
438    52  46.750         5         0           0
183    44  26.410         0         0           0
1298   33  27.455         2         1           0
...   ...     ...       ...       ...         ...
763    27  26.030         0         1           0
835    42  35.970         2         1           0
1216   40  25.080         0         1           0
559    19  35.530         0         1           0
684    33  18.500         1         0           0

[936 rows x 5 columns]

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [12]:
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [14]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={'criterion':['mse','mae'],'max_features': ['auto','sqrt','log2'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\anaconda\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
C:\anaconda\lib\site-packages\sklearn\ensemble\_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [15]:
re=grid.cv_results_
print("The R_Score valueofr best parameters{}:".format(grid.best_params_))

The R_Score valueofr best parameters{'criterion': 'mae', 'max_features': 'sqrt', 'n_estimators': 100}:

In [16]:
table = pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.040207,0.007260,0.006042,0.005818,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.856552,0.763521,0.799077,0.764411,0.757017,0.788115,0.037249,11
1,0.300281,0.022647,0.015626,0.000005,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.865668,0.760383,0.817166,0.799026,0.768014,0.802051,0.037893,5
2,0.066727,0.042768,0.007853,0.006988,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.831631,0.769147,0.807189,0.820519,0.745674,0.794832,0.032382,7
3,0.265549,0.052876,0.022294,0.008196,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.861981,0.794430,0.801130,0.826809,0.773876,0.811645,0.030322,4
4,0.040156,0.025927,0.010976,0.006232,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.855015,0.757503,0.774970,0.805070,0.771126,0.792737,0.034799,8
5,0.180037,0.022914,0.017230,0.008071,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.867907,0.789857,0.810160,0.827041,0.767862,0.812565,0.034036,2
6,0.140992,0.009063,0.004711,0.005903,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.857573,0.763738,0.782007,0.773524,0.765225,0.788413,0.035192,10
7,1.198133,0.088317,0.014074,0.008265,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.841048,0.780500,0.798200,0.799290,0.761109,0.796029,0.026467,6
8,0.086716,0.017441,0.004166,0.005846,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.829366,0.769657,0.798616,0.789830,0.765566,0.790607,0.022948,9
9,0.760375,0.026603,0.016113,0.004377,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.861143,0.800256,0.809633,0.828121,0.767274,0.813286,0.031018,1
10,0.077943,0.009934,0.006252,0.007657,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.840784,0.768174,0.794151,0.781282,0.754651,0.787808,0.029578,12
11,0.763797,0.054870,0.017679,0.002735,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.858700,0.792514,0.813110,0.821648,0.774766,0.812148,0.028430,3

In [18]:
best_r2 = grid.best_score_

In [19]:
best_r2

0.8132855031499284

In [20]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input_input=float(input("sex male 0 or 1:"))
smoker_yes_input=float(input("smoker yes 0 or 1:"))

Age:23
BMI:56
children:1
sex male 0 or 1:0
smoker yes 0 or 1:0

In [21]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input_input,smoker_yes_input]])
print("Future_Prediction{}".format(Future_Prediction))

Future_Prediction[14683.56750335]

In [22]:
import pickle
filename="finalized_model_Grid.sav"
pickle.dump(grid,open(filename,'wb'))

In [23]:
loaded_model=pickle.load(open("finalized_model_Grid.sav",'rb'))
result=loaded_model.predict([[23,56,1,0,0]])

In [24]:
 result

array([14683.56750335])